body {
  background-image: url("images/3.jpg");
}

h1 {
  text-align:center;
  color: red;
  font-family: Veranda;
}

h3 {
  color: red;
  font-family: Arial;
}

h5 {
  color: black;
  font-family: teletype;
}

p {
  color:black;
}
